.header {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    justify-content: center;
    background: lightblue;
}

input {
    background-color: rgba(121, 121, 121, 0.267);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    width: 80vw;
}